{% extends "base.html" %}
{% load static %}
{% block export-css %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/cropperjs/dist/cropper.min.css" %}">
{% endblock export-css %}
{% block css %}
<style type="text/css">
img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
.modal-lg{
  max-width: 1000px !important;
}
</style>
{% endblock css %}
{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Data ANFIS</h1>
      </div><!-- /.col -->
      <div class="col-sm-6 text-right">
        <button type="button" id="btn-tambah" onclick="location.href='{% url 'gaharu/tambah_model' %}'" class="btn btn-primary">Buat Model Baru</button>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Judul</th>
                    <th>Data Latih</th>
                    <th>Data Uji</th>
                    <th>Akurasi</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for model in models %}
                  <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.title }}</td>
                    <td>{{ model.datalatih_ids }}</td>
                    <td>{{ model.datauji_ids }}</td>
                    <td>{{ model.accuracy }}</td>
                    <td>
                      <button class="btn btn-danger" type="button">Hapus</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Default Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  id="form-upload">

        <div class="card" id="card">

          <div class="modal-body">

            <!-- /.card -->


            <div class="card-body">





              <input type="file" name="input-image" class="form-control">
              <br>
              <div class="img-container">
                <img id="image">

              </div>
              <br>
              <div class="form-group">
                <label >Kelas</label>
                <select name="input-kelas" id="input-kelas" class="form-control" required>

                  <option value="">Pilih Kelas</option>
                  <option value="1">Gaharu</option>

                </select>
              </div>
              {% csrf_token %}





            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="btn-save">Save changes</button>
          </div>


        </div>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.content -->

<template id="overlay">

  <div class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</template>
{% endblock content %}

{% block export-js %}
<!-- DataTables -->
<script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<script src="{% static "plugins/cropperjs/dist/cropper.min.js" %}"></script>
{% endblock export-js %}

{% block js %}
<script>

</script>
{% endblock js %}